@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.nav-mobile {
  display: none;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-side img {
  width: 100%;
}
.lists {
  display: flex;
  align-items: center;
  gap: 30px;
}
.lists li {
  list-style: none;
}
#color-gray {
  color: #8987a1;
}
.lists a {
  text-decoration: none;
  color: black;
}
/* first section end  */

/* second section start  */
.banner {
  margin-top: 120px;
  margin-bottom: 50px;
}
.banner-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.banner-title h3 {
  font-weight: 700;
  font-size: 3em;
}
.flowers-primary-text {
  color: #e95a08;
}
.banner-img img {
  width: 100%;
}
/* second section done  */
/* flower plans or third section is start  */
.flower-card {
  max-width: 1140px;
  margin: 0 auto;
}
.flower-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.flower-title h3 {
  font-weight: 700;
  font-size: 2.5em;
}
.flower-title p {
  width: 65%;
}
.card-container {
  margin-top: 40px;
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 480px;
}
.card p {
  font-weight: 400;
  font-size: 1.5em;
}
.card h3 {
  margin-left: 30px;
  margin-top: -10px;
  font-size: 1.5em;
}

.card img {
  width: 100%;
}
.btn-primary {
  background-color: #e95a08;
  color: white;
  font-weight: 600;
  font-size: 1em;
  padding: 26px 50px;
  width: 100%;
  margin-bottom: 300px;
  border: none;
}
.btn-primary:hover {
  background-color: rgb(160, 56, 56);
  color: wheat;
}
/* cart section is done  */

/* plant section or fourth section is start  */
.flower-plant-container{
  
  display: flex;
  align-items: center;
  gap: 100px;
  max-width: 1140px;
  max-height: 597px;
  margin: 0 auto;
}
.badge{
  position: absolute;
  margin-top: -120px;
  margin-left: 370px;
}
.badge img{
  max-width: 300px;
 
}
.plant-img{
  width: 100%;
}
.plant-title h3{
  font-weight: 600px;
  font-size: 4rem;
}
.plant-title ul li{
  font-size: 22px;
  color: gray;
}
/* plant badge section or fourth section is done  */


/* Responsive side  */
@media screen and (max-width: 576px) {
  /* .nav-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .clock {
    font-weight: 700;
    font-size: 2em;
  }
  .mobile-right {
    font-size: 1.5em;
    display: flex;
    gap: 20px;
  } */
  .lists li {
    display: none;
  }
  .nav-container {
    margin-top: -30px;
    margin-bottom: -30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .logo-side img {
    width: 80%;
  }
  .add-to-cart {
    margin-top: 50px;
    font-size: 1.5em;
  }
  /* navbar responsive done  */

  /* banner section start  */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-img img {
    width: 450px;
    margin-right: -4px;
  }
  .banner-title {
    max-width: 360px;
  }
  .banner-title h3 {
    margin-bottom: -2px;
    font-weight: 600;
    font-size: 1.8em;
  }

  .banner-title p {
    margin-top: 40px;
    font-size: 15px;
  }
  /* banner section done  */

  /* card section start  */
  .flower-card {
    max-width: 362px;
  }
  .flower-title {
    max-width: 350px;
    margin: 0 auto;
  }
  .flower-title h3 {
    font-weight: 500;
    font-size: 2em;
  }
  .flower-title p {
    width: 100%;
  }
 
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 7px 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .card {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 180px;
    height: 350px;
  }
  .btn-primary {
    margin-top: -20px;
    background-color: #e95a08;
    color: white;
    font-weight: 600;
    font-size: 10px;
    padding: 10px 20px;
  }
  .flower-plant-container{
    flex-direction: column;
    margin-top: 70px;
  }
  .badge{
    display: none;
  }
  
  .plant-img{
    width: 358px;
    margin: 0 auto;
    
  }
  .plant-img img{
    
    height: 396px;
  }
  .plant-title{
    margin-top: -100px;
    width: 361px;
  }
  .plant-title h3{
    margin-bottom: -10px;
    font-size: 2em;
  }
  .plant-title ul li{
    font-size: 15px;
  }
  /* plant badge section is done  */

}
